body {
  background: #f2f2f2;
}
main {
  text-align: center;
}
main img.homeImage {
  margin: 150px auto;
  max-width: 100%;
}
a {
  color: #374c08;
  text-decoration: none;
}
a.delete-elf {
  color: #a01e23 !important;
}
a i.large {
  padding: 15px;
  display: inline-block;
  font-size: 30px !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
a i.large:hover {
  background: rgba(0, 0, 0, 0.05);
}
a i.large:focus {
  background: rgba(0, 0, 0, 0.1);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
th {
  color: #6c8d25;
}
/* Overlay */
.overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}
.overlay.offScreenLeft {
  background: rgba(0, 0, 0, 0);
}
/* Navigation */
nav {
  /* Toggle Menu */
  /* Menu Items */
}
nav.sideNav {
  position: fixed;
  z-index: 11;
  right: 0;
  top: 0;
  width: 350px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #57711e;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}
nav.sideNav .sideActions {
  width: 100%;
  text-align: right;
  padding: 20px;
}
nav.sideNav .sideActions a {
  margin: 5px 16px 5px 5px;
  padding: 10px;
  color: #fff;
}
nav.sideNav .sideActions h1 {
  margin: 0;
  padding: 10px;
  font-size: 30px;
  color: #a01e23;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.75);
  float: left;
}
nav ul.actions {
  width: 100%;
  text-align: right;
}
nav ul.actions li {
  margin: 0 10px 10px 0;
}
nav ul.actions li a {
  color: #a01e23;
}
nav ul.items {
  float: left;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
nav ul.items li {
  width: 100%;
  float: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  /* Dropdown toggle buttons */
  /* Dropdowns */
}
nav ul.items li a {
  padding: 15px;
  width: calc(91%);
  float: left;
  color: #fff;
}
nav ul.items li a:hover,
nav ul.items li a:focus {
  background: #6c8d25;
}
nav ul.items li a.toggleDrop {
  width: auto;
  position: absolute;
  right: 0;
  height: 18px;
  border-bottom: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background: #6c8d25;
}
nav ul.items li a.toggleDrop:hover,
nav ul.items li a.toggleDrop:focus {
  background: #92ac58;
}
nav ul.items li ul.dropdown li {
  border-bottom: 1px solid #819a4c;
}
nav ul.items li ul.dropdown li:last-child {
  border-bottom: none;
}
nav ul.items li ul.dropdown li a {
  width: calc(87%);
  padding-left: 30px;
  color: #e6e6e6;
  background: #92ac58;
}
nav ul.items li ul.dropdown li a:hover,
nav ul.items li ul.dropdown li a:focus {
  background: #819a4c;
}
/* Re-usable */
.offScreenLeft {
  position: fixed;
  left: -9999px !important;
}
.offScreenRight {
  position: fixed;
  right: -9999px !important;
}
.offScreenTop {
  position: fixed;
  top: -9999px !important;
}
/* Mixins */
